* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.px-4 {
    padding: 0 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.py-5 {
    padding: 3rem 0;
}

.my-5 {
    margin: 3rem 0;
}

.px-5{
    padding: 0 3rem;
}

.rounder-3{
    border-radius: 3rem;
}

.boder{
    border: 1px solid #dee2e6;
}

.shadow-lg{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.overflow-hidden{
    max-height: 300vh;
    overflow: hidden;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.icon {
    display: block;
    height: 5%;
    width: 5%;
    color: #7511F6;
}

.btn {
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0812E3;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: gray;
    color: white;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.display-5 {
    font-size: 3rem;
    line-height: 1.5;
}

.fw-bold {
    font-weight: 700;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}

.col-lg-6 {
    width: 50%;
}

.mr-btn {
    margin-top: 20px;
}

.b-example-divier {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

