<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>freelancer</title>
</head>

<body>
    <div class="waper1">
        <nav class="navbar py-4 bg-blue">
            <div class="container d-flex justify-content-sb ">
                <a class="nav-logo text-white" href="#">START BOOTSTRAP</a>
                <ul class="nav-menu d-flex align-item-center">
                    <li class="nav-item"><a href="#" class="text-white mr-3 nav-link">PORTFOLIO</a></li>
                    <li class="nav-item"><a href="#" class="text-white mr-3 nav-link">ABOUT</a></li>
                    <li class="nav-item"><a href="#" class="text-white nav-link">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <header class="bg-sky ">
            <div class="container pt-8 pb-8 text-algin-center ">
                <img class="img-fluid"
                    src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" alt="">
                <div class="hero">
                    <h1 class="hero-title text-white">START BOOTSTRAP</h1>
                    <div class="hero-icon d-flex  my-2 justify-content-center align-item-center">
                        <div class="custom-line bg-white "></div>
                        <i class="fas fa-star text-white "></i>
                        <div class="custom-line bg-white"></div>
                    </div>
                    <div class="hero-text py-2 text-white">Graphic Artist - Web Designer - Illustrator</div>
                </div>
            </div>
        </header>
    </div>
    <div class="warper2">
        <div class="container pt-8">
            <div class="Feature-header">
                <div class="feature-header_title text-algin-center color-blue">PORTFOLIO</div>
                <div class="hero-icon d-flex  my-2 justify-content-center align-item-center">
                    <div class="custom-line  "></div>
                    <i class="fas fa-star color-blue "></i>
                    <div class="custom-line"></div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
                <div class="col-6">
                    <img class="col-img"
                        src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="warper3 bg-sky pt-8">
        <div class="container pb-8 ">
            <div class="Feature-header">
                <div class="feature-header_title text-algin-center text-white">ABOUT</div>
                <div class="hero-icon d-flex  my-2 justify-content-center align-item-center">
                    <div class="custom-line bg-white "></div>
                    <i class="fas fa-star text-white "></i>
                    <div class="custom-line bg-white"></div>
                </div>
            </div>
            <div class="d-flex text-white py-2">
                <div class="desc-items col-lg-4 ms-auto">
                    Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                    source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </div>
                <div class="desc-items col-lg-4 me-auto">You can create your own custom avatar for the masthead, change
                    the icon in the
                    dividers, and add your email address to the contact form to make it fully functional!</div>
            </div>
            <div class="btn-group text-algin-center py-2">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-download"></i>
                    Free Download!
                </button>
            </div>
        </div>
    </div>
    <div class="warper4">
        <div class="container pt-8">
            <div class="Feature-header">
                <div class="feature-header_title text-algin-center color-blue">CONTACT ME</div>
                <div class="hero-icon d-flex  my-2 justify-content-center align-item-center">
                    <div class="custom-line bg-blue "></div>
                    <i class="fas fa-star color-blue "></i>
                    <div class="custom-line bg-blue"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7 text-algin-center">
                    <form>
                        <div class="form-floating">
                            <input class="info-item" type="text" placeholder="Full name" data-sb-validations="required"
                                data-sb-can-submit="no">
                        </div>
                        <div class="form-floating">
                            <input class="info-item" type="text" placeholder="Email address"
                                data-sb-validations="required" data-sb-can-submit="no">
                        </div>
                        <div class="form-floating">
                            <input class="info-item" type="text" placeholder="Phone number"
                                data-sb-validations="required" data-sb-can-submit="no">
                        </div>
                        <div class="form-floating">
                            <input class="info-item" type="text" placeholder="Message" data-sb-validations="required"
                                data-sb-can-submit="no">
                        </div>
                    </form>
                    <div class="btn-group my-2">
                        <button type="button" class="fl btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>