* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'poppin', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 50px 20px;
}

.btn-button {
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin: 0 8px;
    padding: 5px 15px;
    display: flex;
    color: white;
    font-size: 2rem;
}

.btn-button .Primary {
    background-color: blue;
}

.btn-button .Secondary {
    background-color: #6C757D;
}

.btn-button .Success {
    background-color: #198754;
}

.btn-button .Danger {
    background-color: red;
}

.btn-button .Warning {
    background-color: #FFC107;
}

.btn-button .Info {
    background-color: #0DCAF0;
}

.btn-button .Light {
    background-color: #0DCAF0;
}

.btn-button .Dark {
    background-color: black;
}

.btn-button .function .function_click {
    color: blue;
    text-decoration: underline;
}